body {
  font: 13px sans-serif;
  background-color: #ddd;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 960px;
  height: 500px;
}

#states path {
  fill: #000;
  stroke: #000;
}

#journeys path {
  stroke: none;
  fill: none;
}

circle {
  fill: #fff;
  stroke: none;
}